body {
    background-color: #e8e8e8;
}

.btn-circle {
    position: absolute;
    left: 50%;
    width: 2.5rem;
    height: 2.5rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.btn-circle-bottom {
    border-radius: 100%;
    margin-top: 3rem;
}

.colorItem {
    cursor: pointer;
    font-weight: 900;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 40px;
    border: 1px solid;
    border-color: black;
    margin: auto;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    text-align: center;
}

.front-areatext {
    position: fixed;
    /* -webkit-transform: translate(5%, 4rem);
    transform: translate(80vw, 5rem); */
}